h1 {
  font-size: 55px;
  text-align: center;
  color: black;

}
h3 {
  text-align: center;
  color: black;
}
.buttons {
  margin-left: 33%;
  margin-right: 30%
}
img {
  opacity: 0.5;
}
.carouselExampleIndicators {
  margin-bottom: 15%;
}
